<!DOCTYPE html>
<html>
  <head>
    <title>VinylCrate</title>
    <%= csrf_meta_tags %>
      <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
      <meta content="yes" name="apple-mobile-web-app-capable">
      <meta content="telephone=no" name="format-detection">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice%>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert%>
      <p class="alert"><%= alert %></p>
    <% end %>
    <% if user_signed_in? %>
      <%= render "layouts/header"%>
    <% end %>
    <%= yield %>
  </body>
</html>
